body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222; /* Fondo negro */
}

#video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


.wrapper {
  max-width: 600px; /* Cambia el valor para hacer la ventana del chat más ancha */
  margin: 0 auto;
  background-color: #222; /* Fondo negro */
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(207, 0, 15, 0.9); /* Sombreado en rojo inspirado en Iron Man */
  overflow: hidden;
}

.title {
  background-color: #d61c1c; /* Rojo brillante inspirado en Iron Man */
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif; /* Cambia la fuente a Roboto */
  letter-spacing: 2px; /* Aumenta el espaciado entre letras */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  font-weight: bold; /* Hace que el texto sea más audaz */
}


.form {
  max-height: 400px;
  overflow-y: auto;
  font-family: "Roboto", Arial, sans-serif; /* Cambia la fuente a Roboto */
  font-weight: bold; /* Hace que el texto sea más audaz */
  letter-spacing: 2px; /* Aumenta el espaciado entre letras */
  padding: 10px;
  display: flex;
  flex-direction: column-reverse; /* Muestra los mensajes en orden inverso */
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.bot-msg {
  background-color: #494242; /* Naranja brillante inspirado en Iron Man */
  color: #fff;
  border-radius: 10px;
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: justify; /* Agregar justificación al texto */
}

.typing-text {
  overflow: hidden; /* Oculta el exceso de texto */
  border-right: .15em solid #007bff; /* Efecto de parpadeo del cursor en azul inspirado en Iron Man */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  margin: 0 auto; /* Centra el texto */
  animation: typing 1s steps(40, end), blink-caret .75s step-end infinite; /* Animación */
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #007bff; /* Color del cursor en azul inspirado en Iron Man */
  }
}

.msg-header {
  padding: 8px;
  background-color: #494242; /* Fondo gris oscuro para encabezados de mensajes */
  color: #fff; /* Color de texto blanco para encabezados de mensajes */
  border-radius: 10px;
  max-width: 80%; /* Limita el ancho del mensaje para evitar que sea muy largo */
}

.user-msg .msg-header {
  background-color: #d61c1c; /* Fondo azul inspirado en Iron Man para mensajes de usuario */
  color: #fff; /* Color de texto blanco para mensajes de usuario */
  margin-left: auto;
  text-align: right;
}

.bot-msg .msg-header {
  background-color: #ddd; /* Fondo gris claro para respuestas del bot */
  color: #333; /* Color de texto gris oscuro para respuestas del bot */
  margin-right: auto; /* Alinea los mensajes del bot a la izquierda */
  text-align: left;
}

.typing-field {
  background-color: #222; /* Fondo negro */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.input-data {
  display: flex;
  flex: 1;
}

.input-data input {
  font-family: "Roboto", Arial, sans-serif; /* Cambia la fuente a Roboto */
  letter-spacing: 2px; /* Aumenta el espaciado entre letras */
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #ccc; /* Color gris claro para la barra de entrada */
  color: #333;
}


.input-data button {
  background-color: #d61c1c; /* Rojo brillante inspirado en Iron Man para el botón */
  font-family: "Roboto", Arial, sans-serif; /* Cambia la fuente a Roboto */
  letter-spacing: 2px; /* Aumenta el espaciado entre letras */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  font-weight: bold; /* Hace que el texto sea más audaz */
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-data button:hover {
  background-color: #ff0000; /* Rojo más oscuro al pasar el cursor inspirado en Iron Man */
}
